<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.worksituation.mapper.BusDepReviewMemberUnitMapper">

    <resultMap type="BusDepReviewMemberUnit" id="BusDepReviewMemberUnitResult">
        <result property="id"    column="ID"    />
        <result property="memberUnit"    column="MEMBER_UNIT"    />
        <result property="busDepReviewUnitNameId"    column="BUS_DEP_REVIEW_UNIT_NAME_ID"    />
        <result property="memberOrder"    column="MEMBER_ORDER"    />
    </resultMap>

    <sql id="selectBusDepReviewMemberUnitVo">
        select ID, MEMBER_UNIT, BUS_DEP_REVIEW_UNIT_NAME_ID, MEMBER_ORDER from BUS_DEP_REVIEW_MEMBER_UNIT
    </sql>

    <select id="selectBusDepReviewMemberUnitList" parameterType="BusDepReviewMemberUnit" resultMap="BusDepReviewMemberUnitResult">
        <include refid="selectBusDepReviewMemberUnitVo"/>
        <where>
            <if test="memberUnit != null  and memberUnit != ''"> and MEMBER_UNIT = #{memberUnit}</if>
            <if test="busDepReviewUnitNameId != null  and busDepReviewUnitNameId != ''"> and BUS_DEP_REVIEW_UNIT_NAME_ID = #{busDepReviewUnitNameId}</if>
            <if test="memberOrder != null  and memberOrder != ''"> and MEMBER_ORDER = #{memberOrder}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectBusDepReviewMemberUnitById" parameterType="String" resultMap="BusDepReviewMemberUnitResult">
        <include refid="selectBusDepReviewMemberUnitVo"/>
        where ID = #{id}
    </select>

    <insert id="insertBusDepReviewMemberUnit" parameterType="BusDepReviewMemberUnit">
        insert into BUS_DEP_REVIEW_MEMBER_UNIT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">ID,</if>
            <if test="memberUnit != null">MEMBER_UNIT,</if>
            <if test="busDepReviewUnitNameId != null">BUS_DEP_REVIEW_UNIT_NAME_ID,</if>
            <if test="memberOrder != null">MEMBER_ORDER,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="memberUnit != null">#{memberUnit},</if>
            <if test="busDepReviewUnitNameId != null">#{busDepReviewUnitNameId},</if>
            <if test="memberOrder != null">#{memberOrder},</if>
         </trim>
    </insert>

    <insert id="insertBatch" keyProperty="id">
        insert into BUS_DEP_REVIEW_MEMBER_UNIT
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            ID,
                            MEMBER_UNIT,
                            BUS_DEP_REVIEW_UNIT_NAME_ID,
                            MEMBER_ORDER,
                    </trim>
        values
        <foreach collection="entities" item="entity" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                                    #{entity.id},
                                    #{entity.memberUnit},
                                    #{entity.busDepReviewUnitNameId},
                                    #{entity.memberOrder},
                            </trim>
        </foreach>
    </insert>

    <update id="updateBusDepReviewMemberUnit" parameterType="BusDepReviewMemberUnit">
        update BUS_DEP_REVIEW_MEMBER_UNIT
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberUnit != null">MEMBER_UNIT = #{memberUnit},</if>
            <if test="busDepReviewUnitNameId != null">BUS_DEP_REVIEW_UNIT_NAME_ID = #{busDepReviewUnitNameId},</if>
            <if test="memberOrder != null">MEMBER_ORDER = #{memberOrder},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteBusDepReviewMemberUnitById" parameterType="String">
        delete from BUS_DEP_REVIEW_MEMBER_UNIT where ID = #{id}
    </delete>

    <delete id="deleteBusDepReviewMemberUnitByIds" parameterType="String">
        delete from BUS_DEP_REVIEW_MEMBER_UNIT where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
