<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.basedata.mapper.BasNotRentedOutSourceMapper">
    
    <resultMap type="BasNotRentedOutSource" id="BasNotRentedOutSourceResult">
        <result property="sourceId"    column="source_id"    />
        <result property="propertiesSale"    column="properties_sale"    />
        <result property="projectName"    column="project_name"    />
        <result property="building"    column="building"    />
        <result property="unit"    column="unit"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="monthlyRent"    column="monthly_rent"    />
        <result property="areaId"    column="area_id"    />
        <result property="importTime"    column="import_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="isCleaning"    column="isCleaning"    />
    </resultMap>

    <sql id="selectBasNotRentedOutSourceVo">
        select s.source_id,s.project_name, s.properties_sale, s.building, s.unit, s.room_number,
               s.monthly_rent, s.area_id, s.import_time, s.create_time, s.update_time, s.create_by,
               s.update_by, s.del_flag,
            case when o.source_id is null then 0 else 1 end as isCleaning
        from bas_not_rented_out_source s
                 left join bas_not_rented_out o on o.source_id = s.source_id
    </sql>

    <select id="selectBasNotRentedOutSourceList" parameterType="BasNotRentedOutSource" resultMap="BasNotRentedOutSourceResult">
        <include refid="selectBasNotRentedOutSourceVo"/>
        <where>  
            <if test="propertiesSale != null  and propertiesSale != ''"> and s.properties_sale = #{propertiesSale}</if>
            <if test="building != null  and building != ''"> and s.building = #{building}</if>
            <if test="unit != null  and unit != ''"> and s.unit = #{unit}</if>
            <if test="roomNumber != null  and roomNumber != ''"> and s.room_number = #{roomNumber}</if>
            <if test="monthlyRent != null "> and s.monthly_rent = #{monthlyRent}</if>
            <if test="areaId != null  and areaId != ''"> and s.area_id = #{areaId}</if>
            <if test="importTime != null "> and s.import_time = #{importTime}</if>
        </where>
        order by s.create_time desc
    </select>
    
    <select id="selectBasNotRentedOutSourceById" parameterType="String" resultMap="BasNotRentedOutSourceResult">
        <include refid="selectBasNotRentedOutSourceVo"/>
        where s.source_id = #{sourceId}
    </select>
        
    <insert id="insertBasNotRentedOutSource" parameterType="BasNotRentedOutSource">
        insert into bas_not_rented_out_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sourceId != null and sourceId != ''">source_id,</if>
            <if test="propertiesSale != null">properties_sale,</if>
            <if test="building != null">building,</if>
            <if test="unit != null">unit,</if>
            <if test="roomNumber != null">room_number,</if>
            <if test="monthlyRent != null">monthly_rent,</if>
            <if test="areaId != null">area_id,</if>
            <if test="importTime != null">import_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="projectName != null">project_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sourceId != null and sourceId != ''">#{sourceId},</if>
            <if test="propertiesSale != null">#{propertiesSale},</if>
            <if test="building != null">#{building},</if>
            <if test="unit != null">#{unit},</if>
            <if test="roomNumber != null">#{roomNumber},</if>
            <if test="monthlyRent != null">#{monthlyRent},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="importTime != null">#{importTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="projectName != null">#{projectName},</if>
         </trim>
    </insert>
    <insert id="insertBasNotRentedOutSourceBatch" parameterType="BasNotRentedOutSource">
        insert into bas_not_rented_out_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            source_id,properties_sale,building,unit,room_number,monthly_rent,area_id,import_time,create_time,update_time,
            create_by,update_by,del_flag,project_name
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
             #{item.sourceId},#{item.propertiesSale},#{item.building},#{item.unit},#{item.roomNumber},#{item.monthlyRent},#{item.areaId},#{item.importTime},
            #{item.createTime},#{item.updateTime},#{item.createBy},#{item.updateBy},#{item.delFlag},#{item.projectName}
            </trim>
        </foreach>
    </insert>

    <update id="updateBasNotRentedOutSource" parameterType="BasNotRentedOutSource">
        update bas_not_rented_out_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="propertiesSale != null">properties_sale = #{propertiesSale},</if>
            <if test="building != null">building = #{building},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="roomNumber != null">room_number = #{roomNumber},</if>
            <if test="monthlyRent != null">monthly_rent = #{monthlyRent},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="importTime != null">import_time = #{importTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
        </trim>
        where source_id = #{sourceId}
    </update>

    <delete id="deleteBasNotRentedOutSourceById" parameterType="String">
        delete from bas_not_rented_out_source where source_id = #{sourceId}
    </delete>

    <delete id="deleteBasNotRentedOutSourceByIds" parameterType="String">
        delete from bas_not_rented_out_source where source_id in 
        <foreach item="sourceId" collection="array" open="(" separator="," close=")">
            #{sourceId}
        </foreach>
    </delete>
</mapper>