<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.cadretrain.mapper.BizTrainRecordsMapper">

    <resultMap type="BizTrainRecords" id="BizTrainRecordsResult">
        <result property="id" column="id"/>
        <result property="traineeName" column="trainee_name"/>
        <result property="trainType" column="train_type"/>
        <result property="trainName" column="train_name"/>
        <result property="trainOrganizer" column="train_organizer"/>
        <result property="trainStartDate" column="train_start_date"/>
        <result property="trainEndDate" column="train_end_date"/>
        <result property="trainDuration" column="train_duration"/>
        <result property="trainLocation" column="train_location"/>
        <result property="trainProofDocument" column="train_proof_document"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="approverName" column="approver_name"/>
        <result property="approverDept" column="approver_dept"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectBizTrainRecordsVo">
        select id,
               trainee_name,
               train_type,
               train_name,
               train_organizer,
               train_start_date,
               train_end_date,
               train_duration,
               train_location,
               train_proof_document,
               approval_status,
               approver_name,
               approver_dept,
               remark,
               create_time,
               create_by,
               update_time,
               update_by,
               user_id
        from biz_train_records
    </sql>

    <select id="selectBizTrainRecordsList" parameterType="BizTrainRecords" resultMap="BizTrainRecordsResult">
        <include refid="selectBizTrainRecordsVo"/>
        <where>
            <if test="traineeName != null  and traineeName != ''">and trainee_name like concat('%', #{traineeName},
                '%')
            </if>
            <if test="trainType != null  and trainType != ''">and train_type = #{trainType}</if>
            <if test="trainName != null  and trainName != ''">and train_name like concat('%', #{trainName}, '%')</if>
            <!--            <if test="trainStartDate != null "> and train_start_date = #{trainStartDate}</if>-->
            <!--            <if test="trainEndDate != null "> and train_end_date = #{trainEndDate}</if>-->
            <if test="trainStartDate != null">
                and create_time &gt;= #{trainStartDate}
            </if>
            <if test="trainEndDate != null">
                and create_time &lt;= #{trainEndDate}
            </if>
            <if test="trainDuration != null  and trainDuration != ''">and train_duration = #{trainDuration}</if>
            <if test="trainLocation != null  and trainLocation != ''">and train_location like concat('%',
                #{trainLocation}, '%')
            </if>
            <if test="approvalStatus != null  and approvalStatus != ''">and approval_status = #{approvalStatus}</if>
            <if test="approverName != null  and approverName != ''">and approver_name like concat('%', #{approverName},
                '%')
            </if>
            <if test="approverDept != null  and approverDept != ''">and approver_dept = #{approverDept}</if>
            <if test="createBy != null  and createBy != ''">and create_by like concat('%', #{createBy}, '%')</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectBizTrainRecordsAllList1" parameterType="BizTrainRecords" resultMap="BizTrainRecordsResult">
        <include refid="selectBizTrainRecordsVo"/>
        <where>
            and train_type in ('train_01', 'train_02', 'train_03')
            <if test="traineeName != null  and traineeName != ''">and trainee_name like concat('%', #{traineeName},
                '%')
            </if>
            <if test="trainType != null  and trainType != ''">and train_type = #{trainType}</if>
            <if test="trainName != null  and trainName != ''">and train_name like concat('%', #{trainName}, '%')</if>
            <if test="trainStartDate != null">
                and create_time &gt;= #{trainStartDate}
            </if>
            <if test="trainEndDate != null">
                and create_time &lt;= #{trainEndDate}
            </if>
            <if test="trainDuration != null  and trainDuration != ''">and train_duration = #{trainDuration}</if>
            <if test="trainLocation != null  and trainLocation != ''">and train_location like concat('%',
                #{trainLocation}, '%')
            </if>
            <if test="approverName != null  and approverName != ''">and approver_name like concat('%', #{approverName},
                '%')
            </if>
            <if test="approverDept != null  and approverDept != ''">and approver_dept = #{approverDept}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectBizTrainRecordsAllList" parameterType="BizTrainRecords" resultMap="BizTrainRecordsResult">
        <include refid="selectBizTrainRecordsVo"/>
        <where>
            and train_type not in ('train_01', 'train_02', 'train_03')
            <if test="traineeName != null  and traineeName != ''">and trainee_name like concat('%', #{traineeName},
                '%')
            </if>
            <if test="trainType != null  and trainType != ''">and train_type = #{trainType}</if>
            <if test="trainName != null  and trainName != ''">and train_name like concat('%', #{trainName}, '%')</if>
            <if test="trainStartDate != null">
                and create_time &gt;= #{trainStartDate}
            </if>
            <if test="trainEndDate != null">
                and create_time &lt;= #{trainEndDate}
            </if>
            <if test="trainDuration != null  and trainDuration != ''">and train_duration = #{trainDuration}</if>
            <if test="trainLocation != null  and trainLocation != ''">and train_location like concat('%',
                #{trainLocation}, '%')
            </if>
            <if test="approvalStatus != null  and approvalStatus != ''">and approval_status = #{approvalStatus}</if>
            <if test="approverName != null  and approverName != ''">and approver_name like concat('%', #{approverName},
                '%')
            </if>
            <if test="approverDept != null  and approverDept != ''">and approver_dept = #{approverDept}</if>
        </where>
        order by create_time desc
    </select>

    <select id="listByDeptMgr" parameterType="BizTrainRecords" resultMap="BizTrainRecordsResult">
        <include refid="selectBizTrainRecordsVo"/>
        <where>
            <if test="traineeName != null  and traineeName != ''">and trainee_name like concat('%', #{traineeName}, '%')</if>
            <if test="trainType != null  and trainType != ''">and train_type = #{trainType}</if>
            <if test="trainName != null  and trainName != ''">and train_name like concat('%', #{trainName}, '%')</if>
            <if test="trainStartDate != null">
                and create_time &gt;= #{trainStartDate}
            </if>
            <if test="trainEndDate != null">
                and create_time &lt;= #{trainEndDate}
            </if>
            <if test="trainDuration != null  and trainDuration != ''">and train_duration = #{trainDuration}</if>
            <if test="trainLocation != null  and trainLocation != ''">and train_location like concat('%', #{trainLocation}, '%')</if>
            <if test="approvalStatus != null  and approvalStatus != ''">and approval_status = #{approvalStatus}</if>
            <if test="approverName != null  and approverName != ''">and approver_name like concat('%', #{approverName}, '%')</if>
            <if test="approverDept != null  and approverDept != ''">and approver_dept = #{approverDept}</if>
        </where>
        order by approval_status asc, create_time desc
    </select>
    <!--统计培训时长-->
    <select id="sumTrainDurationByYearAndQuarterAndName" parameterType="map" resultType="String">
        SELECT SUM(train_duration) AS totalDuration
        FROM biz_train_records
        WHERE YEAR (create_time) = #{year}
          AND QUARTER(create_time) = #{quarter}
    </select>

<!--    按年查询培训时长-->
    <select id="sumTrainDurationByYearAndQuarter1" resultType="TrainDurationResult">
        SELECT
        CASE
        WHEN QUARTER(create_time) = 1 THEN '第一季度'
        WHEN QUARTER(create_time) = 2 THEN '第二季度'
        WHEN QUARTER(create_time) = 3 THEN '第三季度'
        WHEN QUARTER(create_time) = 4 THEN '第四季度'
        END AS quarterName,
        SUM(train_duration) AS totalDuration
        FROM biz_train_records
        WHERE YEAR(create_time) = #{trainYear}
        AND approval_status = #{approvalStatus}
        <if test="traineeName != null  and traineeName != ''">and trainee_name like concat('%', #{traineeName},
            '%')
        </if>
        GROUP BY
        QUARTER(create_time),
        CASE
        WHEN QUARTER(create_time) = 1 THEN '第一季度'
        WHEN QUARTER(create_time) = 2 THEN '第二季度'
        WHEN QUARTER(create_time) = 3 THEN '第三季度'
        WHEN QUARTER(create_time) = 4 THEN '第四季度'
        END
    </select>

    <select id="sumTrainDurationByYearAndQuarter" resultType="BizTrainRecordsResult">
        SELECT
        tr.trainee_name traineeName,sd.dept_abbreviation AS traineeDeptName,
        SUM(tr.remark) AS totalDuration
        FROM biz_train_records  tr
        LEFT JOIN sys_user su on tr.user_id = su.user_id
        LEFT JOIN sys_dept sd on su.dept_id = sd.dept_id
        WHERE 1=1
          and su.dept_id != 103
        <if test="traineeName != null and traineeName != ''">
            AND tr.trainee_name like concat('%',#{traineeName},'%')
        </if>
        <if test="biz.trainStartDate != null">
            <![CDATA[   and DATE_FORMAT(tr.create_time, '%Y-%m-%d')>= #{biz.trainStartDate}]]>
        </if>
        <if test="biz.trainEndDate != null">
            <![CDATA[   and DATE_FORMAT(tr.create_time, '%Y-%m-%d')<= #{biz.trainEndDate} ]]>
        </if>
        <if test="biz.trainType != null  and biz.trainType != ''">and tr.train_type = #{biz.trainType}</if>
        <if test="biz.userId != null  and biz.userId != ''">and tr.user_id = #{biz.userId}</if>
        <if test="biz.deptId != null  and biz.deptId != ''">and sd.dept_id = #{biz.deptId}</if>
        GROUP BY tr.user_id,tr.trainee_name,sd.dept_abbreviation
    </select>


    <select id="selectBizTrainRecordsById" parameterType="String" resultMap="BizTrainRecordsResult">
        <include refid="selectBizTrainRecordsVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizTrainRecords" parameterType="BizTrainRecords">
        insert into biz_train_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="traineeName != null and traineeName != ''">trainee_name,</if>
            <if test="trainType != null and trainType != ''">train_type,</if>
            <if test="trainName != null and trainName != ''">train_name,</if>
            <if test="trainOrganizer != null and trainOrganizer != ''">train_organizer,</if>
            <if test="trainStartDate != null">train_start_date,</if>
            <if test="trainEndDate != null">train_end_date,</if>
            <if test="trainDuration != null">train_duration,</if>
            <if test="trainLocation != null">train_location,</if>
            <if test="trainProofDocument != null and trainProofDocument != ''">train_proof_document,</if>
            <if test="approvalStatus != null">approval_status,</if>
            <if test="approverName != null">approver_name,</if>
            <if test="approverDept != null">approver_dept,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="traineeName != null and traineeName != ''">#{traineeName},</if>
            <if test="trainType != null and trainType != ''">#{trainType},</if>
            <if test="trainName != null and trainName != ''">#{trainName},</if>
            <if test="trainOrganizer != null and trainOrganizer != ''">#{trainOrganizer},</if>
            <if test="trainStartDate != null">#{trainStartDate},</if>
            <if test="trainEndDate != null">#{trainEndDate},</if>
            <if test="trainDuration != null">#{trainDuration},</if>
            <if test="trainLocation != null">#{trainLocation},</if>
            <if test="trainProofDocument != null and trainProofDocument != ''">#{trainProofDocument},</if>
            <if test="approvalStatus != null">#{approvalStatus},</if>
            <if test="approverName != null">#{approverName},</if>
            <if test="approverDept != null">#{approverDept},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateBizTrainRecords" parameterType="BizTrainRecords">
        update biz_train_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="traineeName != null and traineeName != ''">trainee_name = #{traineeName},</if>
            <if test="trainType != null and trainType != ''">train_type = #{trainType},</if>
            <if test="trainName != null and trainName != ''">train_name = #{trainName},</if>
            <if test="trainOrganizer != null and trainOrganizer != ''">train_organizer = #{trainOrganizer},</if>
            <if test="trainStartDate != null">train_start_date = #{trainStartDate},</if>
            <if test="trainEndDate != null">train_end_date = #{trainEndDate},</if>
            <if test="trainDuration != null">train_duration = #{trainDuration},</if>
            <if test="trainLocation != null">train_location = #{trainLocation},</if>
            <if test="trainProofDocument != null and trainProofDocument != ''">train_proof_document =
                #{trainProofDocument},
            </if>
            <if test="approvalStatus != null">approval_status = #{approvalStatus},</if>
            <if test="approverName != null">approver_name = #{approverName},</if>
            <if test="approverDept != null">approver_dept = #{approverDept},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizTrainRecordsById" parameterType="String">
        delete
        from biz_train_records
        where id = #{id}
    </delete>

    <delete id="deleteBizTrainRecordsByIds" parameterType="String">
        delete from biz_train_records where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>