<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.probity.mapper.BizProbityInsuranceMapper">

    <resultMap type="BizProbityInsurance" id="BizProbityInsuranceResult">
        <result property="id" column="id"/>
        <result property="probityId" column="probity_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="policyholder" column="policyholder"/>
        <result property="insuranceProduct" column="insurance_product"/>
        <result property="policyNo" column="policy_no"/>
        <result property="insuranceCompany" column="insurance_company"/>
        <result property="accumulatedAmount" column="accumulated_amount"/>
    </resultMap>

    <sql id="selectBizProbityInsuranceVo">
        select id,
               probity_id,
               create_by,
               create_time,
               update_by,
               update_time,
               remark,
               policyholder,
               insurance_product,
               policy_no,
               insurance_company,
               accumulated_amount
        from biz_probity_insurance
    </sql>

    <select id="selectBizProbityInsuranceList" parameterType="BizProbityInsurance"
            resultMap="BizProbityInsuranceResult">
        <include refid="selectBizProbityInsuranceVo"/>
        <where>
            <if test="probityId != null  and probityId != ''">and probity_id = #{probityId}</if>
            <if test="policyholder != null  and policyholder != ''">and policyholder = #{policyholder}</if>
            <if test="insuranceProduct != null  and insuranceProduct != ''">and insurance_product =
                #{insuranceProduct}
            </if>
            <if test="policyNo != null  and policyNo != ''">and policy_no = #{policyNo}</if>
            <if test="insuranceCompany != null  and insuranceCompany != ''">and insurance_company =
                #{insuranceCompany}
            </if>
            <if test="accumulatedAmount != null ">and accumulated_amount = #{accumulatedAmount}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectBizProbityInsuranceById" parameterType="String" resultMap="BizProbityInsuranceResult">
        <include refid="selectBizProbityInsuranceVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizProbityInsurance" parameterType="BizProbityInsurance">
        insert into biz_probity_insurance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="probityId != null">probity_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="policyholder != null">policyholder,</if>
            <if test="insuranceProduct != null">insurance_product,</if>
            <if test="policyNo != null">policy_no,</if>
            <if test="insuranceCompany != null">insurance_company,</if>
            <if test="accumulatedAmount != null">accumulated_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="probityId != null">#{probityId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="policyholder != null">#{policyholder},</if>
            <if test="insuranceProduct != null">#{insuranceProduct},</if>
            <if test="policyNo != null">#{policyNo},</if>
            <if test="insuranceCompany != null">#{insuranceCompany},</if>
            <if test="accumulatedAmount != null">#{accumulatedAmount},</if>
        </trim>
    </insert>

    <insert id="insertBatch" keyProperty="id">
        insert into biz_probity_insurance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            probity_id,
            create_by,
            create_time,
            update_by,
            update_time,
            remark,
            policyholder,
            insurance_product,
            policy_no,
            insurance_company,
            accumulated_amount,
        </trim>
        values
        <foreach collection="entities" item="entity" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.id},
                #{entity.probityId},
                #{entity.createBy},
                #{entity.createTime},
                #{entity.updateBy},
                #{entity.updateTime},
                #{entity.remark},
                #{entity.policyholder},
                #{entity.insuranceProduct},
                #{entity.policyNo},
                #{entity.insuranceCompany},
                #{entity.accumulatedAmount},
            </trim>
        </foreach>
    </insert>

    <update id="updateBizProbityInsurance" parameterType="BizProbityInsurance">
        update biz_probity_insurance
        <trim prefix="SET" suffixOverrides=",">
            <if test="probityId != null">probity_id = #{probityId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="policyholder != null">policyholder = #{policyholder},</if>
            <if test="insuranceProduct != null">insurance_product = #{insuranceProduct},</if>
            <if test="policyNo != null">policy_no = #{policyNo},</if>
            <if test="insuranceCompany != null">insurance_company = #{insuranceCompany},</if>
            <if test="accumulatedAmount != null">accumulated_amount = #{accumulatedAmount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizProbityInsuranceById" parameterType="String">
        delete
        from biz_probity_insurance
        where id = #{id}
    </delete>

    <delete id="deleteBizProbityInsuranceByIds" parameterType="String">
        delete from biz_probity_insurance where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>