<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.probity.mapper.BizProbityModifyRecordMapper">

    <resultMap type="BizProbityModifyRecord" id="BizProbityModifyRecordResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="probityId" column="probity_id"/>
        <result property="recordTime" column="record_time"/>
        <result property="modifyRecord" column="modify_record"/>
        <result property="userName" column="user_name"/>
        <result property="year" column="year"/>
        <result property="deptName" column="dept_name"/>
        <result property="modifyFiled" column="modify_filed"/>
    </resultMap>

    <sql id="selectBizProbityModifyRecordVo">
        select id,
               create_by,
               dept_name,
               create_time,
               update_by,
               update_time,
               remark,
               probity_id,
               record_time,
               modify_filed,
               modify_record,
               user_name, year
        from biz_probity_modify_record
    </sql>

    <select id="selectBizProbityModifyRecordList" parameterType="BizProbityModifyRecord"
            resultMap="BizProbityModifyRecordResult">
        <include refid="selectBizProbityModifyRecordVo"/>
        <where>
            <if test="probityId != null  and probityId != ''">and probity_id = #{probityId}</if>
            <if test="recordTime != null ">and record_time = #{recordTime}</if>
            <if test="modifyRecord != null  and modifyRecord != ''">and modify_record = #{modifyRecord}</if>
            <if test="userName != null  and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="deptName != null and deptName != ''">and dept_name like concat('%',#{deptName},'%')</if>
            <if test="year != null ">and year = #{year}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectBizProbityModifyRecordById" parameterType="String" resultMap="BizProbityModifyRecordResult">
        <include refid="selectBizProbityModifyRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizProbityModifyRecord" parameterType="BizProbityModifyRecord">
        insert into biz_probity_modify_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="probityId != null">probity_id,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="modifyRecord != null">modify_record,</if>
            <if test="userName != null">user_name,</if>
            <if test="year != null">year,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="modifyFiled!= null">modify_filed,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="probityId != null">#{probityId},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="modifyRecord != null">#{modifyRecord},</if>
            <if test="userName != null">#{userName},</if>
            <if test="year != null">#{year},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="modifyFiled!= null">#{modifyFiled},</if>
        </trim>
    </insert>

    <insert id="insertBatch" keyProperty="id">
        insert into biz_probity_modify_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            create_by,
            create_time,
            update_by,
            update_time,
            remark,
            probity_id,
            record_time,
            modify_record,
            user_name,
            year,
            modify_filed,
        </trim>
        values
        <foreach collection="entities" item="entity" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.id},
                #{entity.createBy},
                #{entity.createTime},
                #{entity.updateBy},
                #{entity.updateTime},
                #{entity.remark},
                #{entity.probityId},
                #{entity.recordTime},
                #{entity.modifyRecord},
                #{entity.userName},
                #{entity.year},
                #{entity.modifyFiled},
            </trim>
        </foreach>
    </insert>

    <update id="updateBizProbityModifyRecord" parameterType="BizProbityModifyRecord">
        update biz_probity_modify_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="probityId != null">probity_id = #{probityId},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="modifyRecord != null">modify_record = #{modifyRecord},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="year != null">year = #{year},</if>
            <if test="deptName!= null">dept_name = #{deptName},</if>
            <if test="modifyFiled!= null">modify_filed = #{modifyFiled},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizProbityModifyRecordById" parameterType="String">
        delete
        from biz_probity_modify_record
        where id = #{id}
    </delete>

    <delete id="deleteBizProbityModifyRecordByIds" parameterType="String">
        delete from biz_probity_modify_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="searchPrevRecorde" parameterType="string" resultMap="BizProbityModifyRecordResult">
        <include refid="selectBizProbityModifyRecordVo"/>
        where user_id = #{userId} and probity_id != #{probityId} order by year desc
    </select>

    <delete id="deleteByProbityId" parameterType="String">
        delete
        from biz_probity_modify_record
        where probity_id = #{probityId}
    </delete>
</mapper>